@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

     <!-- Nút Học viên -->
    <p class="mt-4">
        <a asp-controller="HOCVIENs" asp-action="Index" class="btn btn-primary btn-lg">
            Quản lý học viên
        </a>
    </p>
</div>
