@{
    ViewData["Title"] = "Home Page";
}
<a asp-controller="KHOAHOCs" asp-action="Index" class="btn">Danh sách khóa học</a>
<a asp-controller="KETQUAHOCTAPs" asp-action="DanhSachKhoaHoc" class="btn">Kết quả học tập</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
