@model QuanLyTTNgoaiNgu.Models.HOCVIEN

@{
    ViewData["Title"] = "Thêm học viên mới";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-group mb-2">
        <label asp-for="HoTen"></label>
        <input asp-for="HoTen" class="form-control" />
        <span asp-validation-for="HoTen" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="SoDienThoai"></label>
        <input asp-for="SoDienThoai" class="form-control" />
        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="NgaySinh"></label>
        <input asp-for="NgaySinh" type="date" class="form-control" />
        <span asp-validation-for="NgaySinh" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="DiaChi"></label>
        <input asp-for="DiaChi" class="form-control" />
        <span asp-validation-for="DiaChi" class="text-danger"></span>
    </div>
    <div class="form-group mb-4">
        <label asp-for="MaTaiKhoan">Mã tài khoản</label>
        <input asp-for="MaTaiKhoan" class="form-control" />
        <span asp-validation-for="MaTaiKhoan" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
