@model QuanLyTTNgoaiNgu.Models.KETQUAHOCTAP

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>KETQUAHOCTAP</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaKetQua" />
            <div class="form-group">
                <label asp-for="Diem" class="control-label"></label>
                <input asp-for="Diem" class="form-control" />
                <span asp-validation-for="Diem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChuyenCan" class="control-label"></label>
                <input asp-for="ChuyenCan" class="form-control" />
                <span asp-validation-for="ChuyenCan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaHocVien" class="control-label"></label>
                <select asp-for="MaHocVien" class="form-control" asp-items="ViewBag.MaHocVien"></select>
                <span asp-validation-for="MaHocVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLopHoc" class="control-label"></label>
                <select asp-for="MaLopHoc" class="form-control" asp-items="ViewBag.MaLopHoc"></select>
                <span asp-validation-for="MaLopHoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
